[submodule "puppet/modules/apache"]
	path = puppet/modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache.git
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
